<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="#">ITI</a>
    
    <!-- Toggle button for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Home Link -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/all']" routerLinkActive="active">All</a>
        </li>
        
        <!-- Movies Link -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/movies']" routerLinkActive="active">Movies</a>
        </li>

        <!-- People Link -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/people']" routerLinkActive="active">People</a>
        </li>

        <!-- TV Link -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tv']" routerLinkActive="active">TV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
